# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
bin/
obj/

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio IntelliCode
.vscode/
.vscodeignore
.vsctags
.csproj.user

# Rider
.idea/
*.sln.iml
*.dotSettings.user

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings
*.old

# NCrunch
_NCrunch_*
.*crunch*.local.xml

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.Publish.xml
*.pubxml
*.publishproj

# NuGet Packages
*.nupkg
# The packages folder can
tipos-de-operadores/obj/Debug/net8.0/tipos-de-operadores.AssemblyInfo.cs
operadores-aritmeticos/obj/Debug/net8.0/operadores-aritmeticos.AssemblyInfo.cs
operadores-aritmeticos/obj/Debug/net8.0/operadores-aritmeticos.AssemblyInfoInputs.cache
tipos-de-dados/obj/Debug/net8.0/tipos-de-dados.AssemblyInfo.cs
tipos-de-dados/obj/Debug/net8.0/tipos-de-dados.AssemblyInfoInputs.cache
tipos-de-operadores/obj/Debug/net8.0/tipos-de-operadores.AssemblyInfoInputs.cache
tipos-de-operadores/obj/Debug/net8.0/tipos-de-operadores.AssemblyInfoInputs.cache
tipos-de-dados/obj/Debug/net8.0/tipos-de-dados.AssemblyInfoInputs.cache
operadores-aritmeticos/obj/Debug/net8.0/operadores-aritmeticos.AssemblyInfo.cs
operadores-aritmeticos/obj/Debug/net8.0/operadores-aritmeticos.AssemblyInfoInputs.cache
tipos-de-dados/obj/Debug/net8.0/tipos-de-dados.AssemblyInfo.cs
tipos-de-operadores/obj/Debug/net8.0/tipos-de-operadores.AssemblyInfoInputs.cache
tipos-de-operadores/obj/Debug/net8.0/tipos-de-operadores.AssemblyInfo.cs
tipos-de-dados/obj/Debug/net8.0/tipos-de-dados.AssemblyInfoInputs.cache
operadores-aritmeticos/obj/Debug/net8.0/operadores-aritmeticos.AssemblyInfo.cs
